* {
    cursor: help;
}
body {       
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../assets/images/backgrounds/bg1.gif');

    text-align: center;
}

.container {
    position: relative;

    width: 800px;
    height: 100vh;

    margin: auto;

    background-image: url('../assets/images/arts/mirror_frame_dither02.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110vh;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}
.intro div {
    margin-top: -30px
}
.intro p {
    margin: 0px;
}
#frase {
    margin-top: 20px!important;

    background-color: #a40000; /* New highlight background color */
    color: #cdcdcd;

    font-family: 'Aktura-Regular', "UnifrakturCook", serif;
    font-weight: 700;
    font-style: normal;
    font-weight: 300;
    font-size: 32pt;
    letter-spacing: 1px;
}
#arcano {
    margin-top: 10px!important;

    font-family: "DotGothic16", "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 0.6em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;

    opacity: 0;

    transition: opacity 0.3s ease;
}
#frase:hover + #arcano {
    opacity: 1;
}

.credits {
    position: absolute;
    bottom: 50px;

    width: 100%;
    padding: 0;
}
.credits p {
    font-family: "Fraunces", serif!important;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
    font-size: 0.7em;
}
.credits p span {
    padding: 1px 5px;

    background-color: #202020;
    color: #cdcdcd;

    text-decoration: underline;
}

/* Efeito strobo */
.negativo {
    filter: invert(100%) contrast(150%);
    transform: translate(1px, -1px); /* Pequeno tremor visual no strobo */
}
